@charset "UTF-8";

/* ユーザーのブラウザ設定に対する相対値 */
html{
	font-size: 100%;
}

/* 全体の背景指定 */
body{
	/* 画像が表示されなかったとき用に似たような色を設定 */
	background-color: Cornsilk;
	/* 表示したい背景画像 */
	background-image: url(../images/hobby/cats/backimage.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: 100px 200px;
}


/* 複数セレクタ指定 */
h1,h2{
	background-color: rgb(167, 255, 148);
	color: #0bd;
	font-size: 20px;
	font-weight: lighter;
	font-family: serif;
}

/* 入れ子の指定 */
div p {
	color: rgb(100, 50, 150, 0.1);
	font-size: 30px;
	font-weight: bold;
	font-family: serif;

}

/* いろんな設定 */
main section{
	font-weight: normal;
	line-height: normal;
	text-align: left;
}
main article{
	font-weight: bold;
	line-height: 1;
	text-align: center;

}