@charset "utf-8";

/*画像全般の設定*/
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}

/*コンテンツ全体枠の設定*/
#wrap{
	width: 798px;
	margin: 40px auto;
	padding: 40px 80px;
	border: #f6bb9e 1px solid;
	background-color: #fff;
}

/* ウィンドウ背景色の設定 */
body{
	background-color: rgb(253, 251, 220);
}

/* リンク色の設定 */
a {
	color: #ff8c49;		/*文字色*/
}
a:hover{
	color: #ffc19e;
}
/* a:visited{
	color: #58a6ff;  訪問した時はいらんかな
} */

/* h(見出し)の設定 */
h1{
	color: #0b0b0c;
	text-align: center;
	font-size: 250%;
}

h2{
	text-align: center;
	border: 1px;
	padding: 0.5em 1em;
	background-color: #e1eef5;
	box-shadow: 5px -5px #4c9ac0;
}

h3 {
	padding: 0.5em;/*文字周りの余白*/
	color: #494949;/*文字色*/
	background: #fffaf4;/*背景色*/
	border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

h4 {
	color: #505050;/*文字色*/
	padding: 0.5em;/*文字周りの余白*/
	display: inline-block;/*おまじない*/
	line-height: 1.3;/*行高*/
	background: #dbebf8;/*背景色*/
	vertical-align: middle;
	border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}
  
h4:before {
	content: '●';
	color: white;
	margin-right: 8px;
}


/* 情報データ見出し(dt)の設定 */
dt{
	font-weight: bold;
}


/* リード文領域の設定 */

/* 性別等の設定 */

/* ナビ */
nav ul{
	display: table;
	margin: 0 auto;
	padding: 0 ;
	width: 80%;
	text-align: center;
}
nav li{
	display: table-cell;
	min-width: 50px;
}
nav a{
	display: block;
	width: 100%;
	text-decoration: none;
	color: #000000;
	padding-bottom: 5px;
}
nav li.current{
	border-bottom: 10px solid #92D050;
}
nav li:hover{
	color: #E7DA66;
	border-bottom: 3px solid #F0E475;
}


/*写真と特徴データの設定*/
/* 横並び */

.flexcat {
	display: flex; /*横並び*/
  }
  .flexcat .imagecat {
	width: 640px; /*画像サイズ指定*/
	margin: 0;
	padding: 0;
  }
  .flexcat .imagecat img {
	width: 100%;
	height: auto;
  }
  .flexcat .textcat {
	margin: 0 0 0 20px;
	padding: 0;
  }

.ph{
	float: left;
	margin-right: 30px;
}

.data{
	float: left;
	width: 388px;
}

h4.nextcat{
	clear:left;
}


/* yosakoiのカルーセル全体 */
.carousel {
	/* 水平方向中央寄せ */
	width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center; /* コンテンツを水平方向に中央揃え */
  align-items: center; /* コンテンツを垂直方向に中央揃え */
  }
  /* カルーセル内容 */
  .contains {
	/* サイズは自由に変更してください。*/
	/* 下の.slideも同じサイズにしてください。 */
	width: 1000px;
	height: 600px;
	overflow: hidden;
	position: relative;
	padding: 0;
	list-style: none;
	background-color: rgb(0, 0, 0);
  }
  /* スライド切り換え用ラジオボタンは常に非表示 */
  .slide_select {
	display: none;
  }
  /* 各スライド */
  .slide {
	/* サイズは自由に変更してください。*/
	/* 上の.containsも同じサイズにしてください。 */
	width: 1000px;
	height: 600px;
	position: absolute;
	/* スライドの初期値は選択されていないので透明にしておく */
	opacity: 0;
  }
  .slide img{
	max-width: 100%;
	height: auto;
	object-fit: contain; 
	margin: 0 auto; 
  }
  /* .slide-img{
	max-width: 100%;
	height: auto;
	object-fit: contain; 
  } */

  /* 前へ次へボタン */
  .scroll_button {
	position: absolute;
	display: block;
	height: 30px;
	width: 30px;
	/* 縦中央から20px上の位置 */
	top: 50%;
	margin-top: -20px;
  /* 上辺と右辺のみ幅5pxの枠線 */
	border-width: 5px 5px 0 0;
	border-style: solid;
	border-color: #fdfdfd;
	cursor: pointer;
	/* 普段はボタンはやや薄くする */
	opacity: 0.5;
	/* スライドよりも前面にする */
	z-index: 3;
  }
  /* ホバー時にボタンを強調 */
  .scroll_button:hover {
	opacity: 1;
  }
  /* 前へボタン */
  .scroll_prev {
	left: 15px;
	/* 上辺と右辺の枠線を回転して"＜"にする */
	transform: rotate(-135deg);
  }
  /* 次へボタン */
  .scroll_next {
	right: 215px;
	/* 上辺と右辺の枠線を回転して"＞"にする */
	transform: rotate(45deg);
  }
  /* スライド移動ボタンエリア */
  .move_controler {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
  }
  /* スライド移動の各ボタン */
  .button_move {
	display: inline-block;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	border-radius: 100%;
	cursor: pointer;
	/* 普段はやや薄くする */
	opacity: 0.5;
	/* スライドより前面にする */
	z-index: 2;
  }
  /* ホバー時はやや明るくする */
  .button_move:hover {
	opacity: 0.75;
  }
  /* スライド移動ボタンの色 */
  .button_move {
	background-color: #fdfdfd;
  }
  /* 1番目のスライド選択時 */
  /* 1番目のスライドの透明度を0にして表示する */
  .slide_select:nth-of-type(1):checked ~ .slide:nth-of-type(1) {
	opacity: 1;
  }
  /* スライド移動ボタンの1個目を明るくする */
  /* （今選択されていることが分かるように） */
  .slide_select:nth-of-type(1):checked ~ .move_controler .button_move:nth-of-type(1) {
	opacity: 1;
  }
  .slide_select:nth-of-type(2):checked ~ .slide:nth-of-type(2) {
	opacity: 1;
  }
  .slide_select:nth-of-type(2):checked ~ .move_controler .button_move:nth-of-type(2) {
	opacity: 1;
  }
  .slide_select:nth-of-type(3):checked ~ .slide:nth-of-type(3) {
	opacity: 1;
  }
  .slide_select:nth-of-type(3):checked ~ .move_controler
	.button_move:nth-of-type(3) {
	opacity: 1;
  }
  .slide_select:nth-of-type(4):checked ~ .slide:nth-of-type(4) {
	opacity: 1;
  }
  .slide_select:nth-of-type(4):checked
	~ .move_controler
	.button_move:nth-of-type(4) {
	opacity: 1;
  }






/*コンテナー（サイト全体を囲むブロック）
---------------------------------------------------------------------------*/


/*コンテンツ（フッター関連「以外」を囲むブロック）
---------------------------------------------------------------------------*/



/*header
---------------------------------------------------------------------------*/




/*メニューブロック設定
---------------------------------------------------------------------------*/


/*マウスオン時*/




/*mainブロック設定
---------------------------------------------------------------------------*/
/*mainブロック*/
main {
	padding: 5%;	/*ブロック内の余白*/
}

/*mainブロック内のh2*/
main h2 {
	font-size: 1.8rem;		/*文字サイズ*/
	text-align: center;		/*テキストをセンタリング*/
	letter-spacing: 0.2em;	/*文字間隔を広くする指定*/
	color: var(--primary-color);	/*文字色。css冒頭で指定しているテーマカラーを読み込みます*/
}

/*mainブロック内のh3*/
main h3 {
	font-size: 1.4rem;		/*文字サイズ*/
	text-align: center;		/*テキストをセンタリング*/
	letter-spacing: 0.2em;	/*文字間隔を広くする指定*/
}

/**mainブロック内のpタグ*/
main p {
	margin: 1rem;	/*pの外側にとるスペース*/
}





/*フッター設定
---------------------------------------------------------------------------*/






/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
.pagetop-show {display: block;}

/*ボタンの設定*/
.pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 99;
	position: fixed;	/*スクロールに追従しない(固定で表示)為の設定*/
	right: 20px;		/*右からの配置場所指定*/
	bottom: 20px;		/*下からの配置場所指定*/
	color: #fff;		/*文字色*/
	font-size: 1.5rem;	/*文字サイズ*/
	background: rgba(0,0,0,0.2);	/*背景色。0,0,0は黒の事で0.2は色が20%出た状態。*/
	width: 60px;		/*幅*/
	line-height: 60px;	/*高さ*/
	border-radius: 50%;	/*円形にする*/
}


